@tailwind base;
@tailwind components;
@tailwind utilities;

/* html{
  line-height: 100%;
} */

/* 
   table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
  width: 10%;
}


tr:nth-child(even) {background-color: #f2f2f2;}  */